D1_PROXY_URL=http://127.0.0.1:8787/query
KV_PROXY_URL=http://127.0.0.1:8787/cache
D1_PROXY_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_D1_TOKEN=

# Generate a random secret with: openssl rand -base64 48
JWT_ACCESS_SECRET=
